@{
    Layout = null;
    ViewData["Title"] = "Sign Up - QuickCab";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Sign Up | QuickCab</title>
    <link rel="stylesheet" type="text/css" href="/css/SignUp.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <!-- Sign Up Container -->
        <div class="container a-container" id="a-container">
            <form id="a-form" class="form" method="post" action="/Account/SignUp">
                <h2 class="form_title title">Create Account</h2>

                <select class="form__input" name="Role" id="roleSelector" required>
                    <option value="">I am a...</option>
                    <option value="passenger">Passenger</option>
                    <option value="driver">Driver</option>
                </select>

                <input class="form__input" type="text" placeholder="Name" name="FullName" required />
                <input class="form__input" type="email" placeholder="Email" name="Email" required />
                <input class="form__input" type="number" placeholder="Phone" name="PhoneNumber" required />
                <input class="form__input" type="password" placeholder="Password" name="Password" required />

                <!-- Driver fields -->
                <div id="driverFields">
                    <input class="form__input" type="text" placeholder="Car Model" name="CarModel" />
                    <input class="form__input" type="text" placeholder="License Plate" name="LicensePlate" />
                </div>

                <button class="form__button button submit" type="submit">SIGN UP</button>


            </form>
        </div>

        <!-- Sign In Container -->
        <div class="container b-container" id="b-container">
            <form id="b-form" class="form" method="post" action="/Account/SignIn">
                <h2 class="form_title title">Sign in to Website</h2>
                <div class="form__icons">
                    <img class="form__icon" src="/images/icon-facebook.svg" alt="" />
                    <img class="form__icon" src="/images/icon-google.svg" alt="" />
                    <img class="form__icon" src="/images/icon-twitter.svg" alt="" />
                </div>
                <span class="form__span">or use your email account</span>
                <input class="form__input" type="email" placeholder="Email" name="Email" required />
                <input class="form__input" type="password" placeholder="Password" name="Password" required />
                <a class="form__link" href="#">Forgot your password?</a>
                <button class="form__button button submit" type="submit">SIGN IN</button>


            </form>
        </div>

        <!-- Switch Animation -->
        <div class="switch" id="switch-cnt">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>

            <div class="switch__container" id="switch-c1">
                <h2 class="switch__title title">Welcome Back!</h2>
                <p class="switch__description description">To keep connected with us please login with your personal info</p>
                <button class="switch__button button switch-btn" type="button">SIGN IN</button>
            </div>
            <div class="switch__container is-hidden" id="switch-c2">
                <h2 class="switch__title title">Hello Friend!</h2>
                <p class="switch__description description">Enter your personal details and start journey with us</p>
                <button class="switch__button button switch-btn" type="button">SIGN UP</button>
            </div>
        </div>
    </div>
    @if (TempData["Success"] != null)
    {
        <div id="signup-success" data-message="@TempData["Success"]"></div>
    }

    <script>
        let switchCtn = document.querySelector("#switch-cnt");
        let switchC1 = document.querySelector("#switch-c1");
        let switchC2 = document.querySelector("#switch-c2");
        let switchCircle = document.querySelectorAll(".switch__circle");
        let switchBtn = document.querySelectorAll(".switch-btn");
        let aContainer = document.querySelector("#a-container");
        let bContainer = document.querySelector("#b-container");

        let changeForm = () => {
            switchCtn.classList.add("is-gx");
            setTimeout(() => {
                switchCtn.classList.remove("is-gx");
            }, 1500);

            switchCtn.classList.toggle("is-txr");
            switchCircle[0].classList.toggle("is-txr");
            switchCircle[1].classList.toggle("is-txr");

            switchC1.classList.toggle("is-hidden");
            switchC2.classList.toggle("is-hidden");
            aContainer.classList.toggle("is-txl");
            bContainer.classList.toggle("is-txl");
            bContainer.classList.toggle("is-z200");
        };

        window.addEventListener("load", () => {
            for (let i = 0; i < switchBtn.length; i++) {
                switchBtn[i].addEventListener("click", function (e) {
                    e.preventDefault();
                    changeForm();
                });
            }
        });

        const roleSelector = document.getElementById("roleSelector");
        const driverFields = document.getElementById("driverFields");

        roleSelector.addEventListener("change", function () {
            if (this.value === "driver") {
                driverFields.style.display = "block";
            } else {
                driverFields.style.display = "none";
            }
        });

    </script>
</body>
</html>